//**********Global Class**********
body
	fs(14px)
	lh(1.231)
	ff(yh)

a.msC
	changeColor()

a.hU
	&:link
	&:visited
		text-decoration none
	&:hover
	&:active
		text-decoration underline

a.u
	&:link
	&:visited
	&:hover
	&:active
		text-decoration underline

a.tag
	&:link
	&:visited
	&:hover
	&:active
		absolute()
		block()
		bColor(white)
		border(0)
		opacity(0)

	&:hover
	&:active
		//border(1px)

.hideTitle
	fs(0)
	setMP(m p,0)
	width(0)
	height(0)
	indent()

html

	body
	
		.hidden
			dis(n)

//**********layout**********
body
	bColor(#ED)

//**********backgroundImages**********
