// 变量
offset = 10px
outerBottom = 10px

html,body
	width(100%)
	height(100%)

header
	// 页眉

.content
	margin(outerBottom,b)

nav
	// 导航

menu
	// 导航

article
	//单栏正文
	@extend .content

section
	clearfix()

	section
		alignLeft()
		margin(outerBottom,b)

	&.doubleColumn
		// 等双栏布局
		
		section
			width(50%)

	&.threeColumn
		// 等三双栏布局

		section
			width(33.33%)

	&.fourColumn
		// 等四双栏布局

		section
			width(25%)

	aside
		//双栏布局：侧栏
		alignLeft()
		margin(outerBottom,b)
		width(25%)

	article
		//二栏布局：正文
		alignLeft()
		margin(outerBottom,b)
		width(75%)

	&.right
	
		aside
		article
			alignRight()

footer
	// 页脚
