@charset "utf-8"
@import core //核心
@import reset //CSS重置
@import grid //网格计算
@import base //基础
@import wrap //框架
@import header //页眉
@import footer //页脚

h1
	pad(30px 0)
	fs(30px)
	fw(4)
	color(#0BB)
	alignCenter()